#
#Mon Mar 12 10:17:43 CET 2007
Becks_AutoExport=false
Becks_gPX=D\:\\
Simulation=true
Becks_Specialized_RiderWeight=78.8
Becks_Cheetah_BikeType=5
Becks_Bikes=Cheetah;Specialized;
Becks_Specialized_BikeFT=0
Becks_Cheetah_BikeFT=0
Becks_Specialized_BikeWeight=24.0
ServerURL=http\://becks.vs3922.vserver4free.de/ec/
ComPort=COM1
ActiveBike=Cheetah
loggerConfFile=ErgoControlLogger.cnf
Becks_Specialized_BikeRT=0
Becks_Cheetah_BikeRT=0
Becks_WindowSize=84
Becks_RefreshRate=200
Becks_Weight=0
Device=Kettler
Becks_Specialized_RiderHeight=1.81
Becks_Save=D\:\\temp\\ErgoControl
Becks_Device=Kettler
Becks_Cheetah_BikeCircumference=1950
WindowSize=81
DampingRate=20
Becks_Cheetah_TransmissionType=5
Becks_Specialized_BikeCircumference=2120
Becks_LineGraphMode=0
Becks_Cheetah_RiderWeight=78.8
Becks_AutoSave=false
Becks_Import=D\:\\temp\\ErgoControl
Becks_AutoExportGPX=false
Becks_Cheetah_BikeWeight=8.0
Becks_AutoExportPPP=false
ActiveUser=Becks
Becks_Cheetah_RiderHeight=1.81
Becks_ComPort=Simulation
Becks_GPX=D\:\\temp\\ErgoControl
Becks_Specialized_TransmissionType=0
GraphMode=2
Becks_GraphMode=2
RefreshRate=200
Becks_SampleRate=1000
Users=Becks;
Becks_Specialized_BikeType=1
Becks_DampingRate=10
SampleRate=1
